/*===== GOOGLE FONTS =====*/
/* @import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap'); */

/*===== VARIABLES CSS =====*/
:root {
  --header-height: 4.5rem;

  /*========== Colors ==========*/
  --first-color: #1589FF;
  --first-color-alt: #2196f3;
  --title-color: #043f7b;
  --text-color: #707070;
  --text-color-light: #A6A6A6;
  --body-color: #FBFEFD;
  --body-color-2: #242424;
  --container-color: #FFFFFF;
  --body-warna: lightblue;
  --text-warna: #242424;


  /*========== Font and typography ==========*/
  --body-font: "Roboto Condensed",sans-serif;
  --biggest-font-size: 2.25rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== Margines ==========*/
  --mp-1: .5rem;
  --mp-2: 1rem;
  --mp-3: 1.5rem;
  --mp-4: 2rem;
  --mp-5: 2.5rem;
  --mp-6: 3rem;
  --mp-7: 4rem;
  --mp-8: 4.8rem;
  --mp-9: 5rem;
  --mp-10: 10rem;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

@media screen and (min-width: 768px){
  :root{
    --biggest-font-size: 2.25rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.15rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

/*========== BASE ==========*/
*,::before,::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}



html {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-size: var(--normal-font-size);
  line-height: 1.6;
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  background-color: var(--body-color);
  color: var(--text-warna);
}

/*========== Variables Dark theme ==========*/

body.dark-theme {
  --text-warna: #F1F3F2;
  --text-color: #C7D1CC;
  --body-color: #242424; 
  --container-color: hsl(240, 23%, 12%);
}

.section.dark-theme {
  --text-warna: white;
  --body-warna: #242424;
}

/*========== Button Dark/Light ==========*/

.change-theme {
  color: var(--text-warna);
  font-size: 1rem;
  cursor: pointer;
}

/*========== CLASS CSS ==========*/
.section {
  background-color: var(--body-warna);
  color: var(--text-warna);
  border-top: .5px solid #e4e4e7;
  border-bottom: .5px solid #e4e4e7;
}


.section-subtitle {
  text-align: center;
  display: block;
  color: var(--first-color);
  font-size: var(--h1-font-size);
  font-weight: var(--font-medium);
  padding: var(--mp-8) 0 var(--mp-6);
}

.section-title {
  text-align: center;
  margin-top: 40px;
  font-size: var(--h1-font-size);
}

/*========== LAYOUT ==========*/
.bd-container {
  max-width: 80rem;
  width: calc(100% - 15%);
  margin: auto;
}

.bd-grid {
  display: grid;
}

/*========== HEADER ==========*/
.header {
  position: fixed;
  width: 100%;
  z-index: var(--z-fixed);
  top: 0;
  left: 0;
}

/*========== NAV ==========*/
.nav {
  max-width: 70rem;
  width: calc(100% - 20%);
  font-size: var(--h3-font-size);
  color: var(--text-warna);
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

@media screen and (max-width:1027px){
  .nav__menu{
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    padding: 1rem 0;
    background-color: var(--body-color);
    transition: .4s;
    box-shadow: 0 4px 4px rgba(0,0,0,.1);
    border-radius: 0 0 1rem 1rem;
    z-index: var(--z-fixed);
    text-align: center;
    line-height: 55px;
  }

  .change-theme{
    position: absolute;
    right: 11%;
    top: 11%;
  }
  
}

.nav__toggle {
  cursor: pointer;
  font-size: 25px;
}

.nav__item {
  margin: 0 var(--mp-2);
}

.nav__link, .nav__logo, .nav__toggle {
  color: var(--text-warna);
  font-weight: var(--font-medium);
}

.nav a:hover {
  color: #1589FF;
}

.scrolltop {
  display: none;
}

/* Show menu */
.show-menu {
  top: var(--header-height);
}

/* Active menu */
.active-link {
  color: var(--first-color);
}

/* Add header shadow */
.scroll-header {
  box-shadow: 0 2px 4px rgba(0,0,0,.1);
}

/* Scroll top */
.scrolltop {
  position: fixed;
  right: 1rem;
  bottom: -20%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .3rem;
  background: #2196f3;
  border-radius: .4rem;
  z-index: var(--z-tooltip);
  transition: .4s;
  visibility: hidden;
}

.scrolltop:hover {
  background-color: #1873bb;
}

.scrolltop__icon {
  font-size: 1.8rem;
  color: var(--body-color);
}

/* Show scrolltop */
.show-scroll {
  visibility: visible;
  bottom: 1.5rem;
}

/* ========== Home ========== */


.home {
  margin: auto;
}

.home__container {
  padding: 70px 0 160px;
}

.home__data {
  margin: auto;
}

.home__data img {
  font-size: 1rem;
}

.home__data span {
  color: #1589FF;
}

.home__data a {
  display: inline-block;
  margin: 1rem 0;
  color: #1589FF;
  font-weight: 700;
  font-size: 1.4rem;
}

.hero__container {
  display: grid;
}

.image-circle {
  display: grid;
  height: 400px;
  width: calc(400px-1rem);
  position: relative;
  margin: auto;
  top: 80px;
}

.image {
  height: 400px;
  z-index: 1;
}

.span__blob {
  margin: auto;
  position: absolute;
  fill: #1589FF;
  display: grid;
  left: -85px;
}

.blob {
  width: 450px;
  margin: auto;
}


/* ========== About ========== */


.about__container {
  margin-top: var(--mp-4);
}

.about__data {
  text-align: center;
  max-width: 1000px;
  margin: auto;
}


.btn {
  padding: var(--mp-2);
  border: 1px solid #2196f3;
  border-radius: 8px;
  min-width: 200px;
  background: #2196f3;
  display: block;
  margin: var(--mp-4) auto;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  outline: none;
}

.btn:hover {
  background: #1873bb;
  cursor: pointer;
}

.vitae {
  color: white;
}

.about__socmed {
  text-align: center;
  margin-top: var(--mp-9);
  margin-bottom: var(--mp-1);
}

.about__socmed p {
  margin-bottom: var(--mp-2);
  font-weight: 700;
  font-size: 1.4rem;
}

.about__socmed span {
  display: block;
  max-width: 600px;
  height: 5px;
  background: #2196f3;
  border-radius: 3px;
  margin: 5px auto;
}

.about__icons .bx {
  margin: var(--mp-1) var(--mp-2) var(--mp-2);
  font-size: var(--mp-4);
  color: var(--text-warna);
}

/* ========== Services ========== */


.services__container {
  max-width: 800px;
  margin: auto;
  display: flex;
}

.services__card {
  width: 250px;
  border: 1px solid #1873bb;
  border-radius: 10px;
  overflow: hidden;
  margin: var(--mp-3) auto var(--mp-5);
  transition: .3s;
}

.services__card:hover {
  transform: scale(1.1);
}

.services__cardheader {
  height: 11rem;
  background-color: #2196f3;
  display: flex;
  flex-direction: column;
}

.services__circle {
  height: 7rem;
  width: 7rem;
  background-color: white;
  margin: auto;
  border-radius: 50%;
  border: 1px solid #1873bb;
  display: flex;
}

.services__circletitle {
  color: white;
  text-align: center;
  padding-bottom: 13px;
}

.services__content {
  display: grid;
  height: 150px;
}

.services__content p {
  text-align: center;
  max-width: calc(100% - 2rem);
  margin: auto;
  padding: 10px 0;
}

.services__icon {
  height: 6.5rem;
  width: 6.5rem;
  background-color: white;
  margin: auto;
  border-radius: 50%;
  border: 1px solid #1873bb;
  overflow: hidden;
  display: flex;
}

.services__img {
  height: var(--mp-8);
  margin: auto;
  transition: .3s;
}

.services__img:hover {
  transform: scale(1.2);
}


/* ========== Skills ========== */


.skills__container {
  max-width: 1300px;
  width: calc(100% - 2rem);
  margin: auto;
  grid-template-columns: repeat(auto-fit, 110px);
  gap: 20px;
  padding: var(--mp-6);
  display: grid;
  justify-content: center;
}

.thumbnail-container {
  border-radius: 50%;
  width: 110px;
  height: 110px;
  background-color: white;
  display: flex;
}

.thumbnail {
  background-color: white;
  border-radius: 50%;
  width: 90px;
  height: 90px;
  display: flex;
  margin: auto;
  border: 1.5px solid #1873bb;
}

.thumbnail:hover {
  transform: scale(1.22);
}

.thumbnail img {
  width: 65px;
  margin: auto;
}


img.javascript {
  transform: scale(0.8);
}

/* ========== Portofolio ========== */


.portofolio__card {
  border: 1px solid #1873bb;
  border-radius: 10px;
  overflow: hidden;
}


.portofolio__header {
  position: relative;
  background-color: white;
  height: 400px;
  display: flex;
}

.portofolio__img {
  display: grid;
  transition: .3s;
}

.portofolio__img:hover {
  transform: scale(1.1);
}

.portofolio__img img {
  max-width: 90%;
  max-height: 90%;
  margin: auto;
}

.portofolio__type {
  position: absolute;
  padding: 3px;
  border: 1px solid #1873bb;
  border-radius: 10px;
  background-color: #2196f3;
  top: 10px;
  left: 10px;
  color: white;
  z-index: 1;
}


.portofolio__footer {
  background-color: #2196f3;
  height: 140px;
}

.portofolio__title {
  color: white;
  max-width: calc(100% - 2rem);
  padding: 10px 30px 5;
  font-size: var(--h2-font-size);
}

.portofolio__content {
  color: white;
  max-width: calc(100% - 2rem);
  padding: 10px 30px 25px;
}

/* ========== Footer ========== */


.footer__content h1 {
  font-size: var(--h1-font-size);
}


.footer__copy {
  text-align: center;
  padding: 20px 0;
}

.footer__contactinfo {
  display: inline-block;
}


.footer__info span {
  display: block;
}


.footer__contact .bx {
  font-size: 20px;
  color: var(--text-warna);
}


/* ========== Media Queries  ========== */

@media screen and (min-width: 1028px) {

  .bd-container {
    margin-left: auto;
    margin-right: auto;
  }

  .nav__item {
    margin: 0 var(--mp-3);
  }

  .nav__list {
    display: flex;
  }

  .nav__toggle {
    display: none;
  }

  .home__container {
    grid-template-columns: repeat(2, minmax(220px, 1fr));
    padding: 210px 0;
  }

  .image-circle {
    top: 0px;
  }

  .portofolio__container {
    max-width: 1200px;
    grid-template-columns: repeat(2, minmax(300px, 500px));
    justify-content: space-evenly;
    gap: calc(2vmax + 1rem) calc(1vmin +  1rem) ;
    margin: 50px auto ;
  }

  .footer__content {
    justify-items: center;
  }
  
}

@media screen and (max-width: 1027px) {
  
  .portofolio__container {
    max-width: 1200px;
    justify-content: space-evenly;
    gap: calc(2vmax + 1rem) calc(1vmin +  1rem);
    margin: 20px auto 50px;
  }

  .portofolio__img img {
    max-width: 80%;
    max-height: 70%;
    margin: auto;
  }

  .services__container {
    grid-template-columns: repeat(auto-fit, 300px);
    display: grid;
    justify-content: center;
  }
}


@media screen and (min-width: 769px) {
  
  .footer__content {
    grid-template-columns: repeat(3, 1fr);
    margin: 90px 0 60px;
  }

  .info {
    display: grid;
    justify-content: end;
  }

}


@media screen and (max-width: 768px) {

  .section-subtitle {
    padding: var(--mp-8) 0 var(--mp-6);
  }

  .skills__container {
    width: calc(100% - 2rem);
    margin: auto;
    grid-template-columns: repeat(auto-fit, 70px);
    gap: 30px;
    padding: var(--mp-4);
    display: grid;
    justify-content: center;
  }

  .thumbnail-container {
    border-radius: 50%;
    width: 9vmax;
    height: 9vmax;
    background-color: white;
    display: flex;
  }
  
  .thumbnail {
    background-color: white;
    border-radius: 50%;
    width: 7.5vmax;
    height: 7.5vmax;
    display: flex;
    margin: auto;
    border: 1.5px solid #1873bb;
  }
  
  .thumbnail:hover {
    transform: scale(1.22);
  }
  
  .thumbnail img {
    width: 5vmax;
    margin: auto;
  }

  .footer__content {
    grid-template-rows: 80px 130px 100px;
    justify-content: start;
    margin: 90px 0 20px;
  }

  .image-circle {
    top: 80px;
  }

  .span__blob {
    left: -70px;
  }
  
  .blob {
    width: 350px;
  }
  
  .image {
    height: 320px;
  }
}
